.page-container{
    width: 1260px;
    margin: auto;
}
header{
    width: 100%;
}
.logo-cover{
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    height: 195px;
    width: 195px;
}
.header-logo__img{
    height: 195px;
    width: 195px;
}
.header-village__img{
    width: 100%;
    height: 100%;
}
.specproject-block{
    margin-top: 4px;
    margin-bottom: 25px;
    width: 115px;
    height: 21px;
    padding: 2px 9px;
    background-color: #F34910;
}
.specproject-label{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.specialproject-metainfo{
    display: flex;
    flex-direction: row;
    
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.metainfo-category{
    margin-right: 7.5px;
}

.metainfo-border{
    border-left: 1px solid #000000;
    margin-right: 5.5px;
}

.current-date{
    color: #9B9B9B;
    margin-right: 8.5px;
}

.metainfo-statistic{
    display: flex;
    flex-direction: row;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;

    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.35;
}
.views-amount-icon{
    content: url(/images/eye-icon.svg);
    padding-right: 5px;
}
.comments-amount-icon{
    content: url(/images/message-icon.svg);
    margin-left: 9px;
    padding-right: 5px;

}
main h1{
    margin-top: 32px;
    width: 940px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 65px;
    color: #000000;
}
main h2{
    font-family: 'IBM Plex Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 65px;
    color: #000000;
}
.main-page__block{
    position: relative;

    height: 548px;
    margin-top: 64px;
    box-sizing: border-box;
    border-radius: 20px;
}
.main-page__block.main-block{
    background: url(/images/village-heat-cover.png) no-repeat;
    background-size: 100%;
    background-position: 0 -20px;
}
.beige{
    border: 1px solid #CCAA8B;
    border-top: 39px solid #CCAA8B;
}
.main-picture-frame{
    position: relative;
    top:-19px;
    height: 39px;
    box-sizing: border-box;
}
.frame-circle{
    position: relative;
    top:-25px;
    left:20px;

    border-radius: 25px;
    background-color: #FFFFFF;
    width: 11px;
    height: 11px;
}
.main-picture__img{
    width: 100%;
    border-radius: 0 0 20px 20px;
}
.star{
    z-index: 100;
    position: absolute;

    width: 160px;
    height: 160px;
}
.star__img{

    box-sizing: border-box;
    transform: rotate(-28.85deg);
}
.main-page__block .star:nth-child(2){
    top:-22%;
    left:47.5%;
}
.main-page__block .star:nth-child(3){
    top:58%;
    left:90.8%;
}
.main-page__block .star:nth-child(4){
    top:42%;
    left:81.7%;
}
.main-page__block .star:nth-child(5){
    top:40.5%;
    left:-7.5%;
}
.main-page__block .star:nth-child(6){
    top:74%;
    left:0.5%;
}
.main-text{
    margin-top: 88px;
    height: 288px;
    width: 1020px;
    color: #000000;
    font-family: 'IBM Plex Serif', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
}
.main-page__block.blue{
    position: absolute;

    border: 1px solid #0011A7;
    border-top: 39px solid #0011A7;
    margin-left: 80px;
    width: 620px;
    height: 400px;
}
.frame-name{
    position: relative;
    top:-38px;
    left:47px;

    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}
.block-heading{
    margin-left: 45px;
    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 26px;

    color: #0011A7;
}
.first-block-heading{
    margin-top: 46px;
}
.second-block-heading{
    margin-top: 25px;
}
.block-heading span{
    font-style: italic;
}
.block-heading::before{
    display: inline-block;
    vertical-align: top;
    content: url(/images/heart.svg);
    margin-right: 21px;
}
.first-block-text{
    margin-top: 40px;
    margin-left: 45px;
    width:380px;

    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    color: #0011A7;
}
.main-page__block.first-game{
    position: relative;
    left: 481px;
    top:85px;

    height: 650px;
    background-color:#F0F4FE;
}
.heart-game{
    width: 279px;
    height: 382px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.heart-game__img{
    width: 279px;
    height: 382px;
}
.first-game-button-cover{
    position: relative;
    width: 290px;
    height: 60px;
    top:68px;

    margin-left: auto;
    margin-right: auto;
}
.first-game__button{
    
    width: 290px;
    height: 60px;
    background: #0011A7;
    border-radius: 20px; 
    border: none;
    
    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    color: white;
}
.last-block{
    margin-left: auto;
    margin-right: auto;
    margin-top: 242px;
    width: 940px;
    height: 640px;

    background-color: #F4F1EB;
}
.last-block-heading{
    margin-top: 79px;
    margin-left: 80px;

    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 26px;
    color: #2D2621;
}
.last-block-text{
    
    width:700px;
    margin-top: 35px;
    margin-left: 80px;
    font-family: 'IBM Plex Sans', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    color: #2D2621;
}
.last-block-button-cover{
    width: 290px;
    height: 60px;
    margin-left: 80px;
    margin-top: 47px;

}
.last-block__button{
    width: 290px;
    height: 60px;
    background: #CCAA8B;
    border-radius: 20px; 
    border: none;
    
    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;
    color: white;
}
.page-tag{

    margin-left: 180px;
    margin-top: 10px;

    font-family: 'IBM Plex Sans', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;

    color: #CCAA8B;
}
.assistance-tag{
    width: 220px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.123077px;

    color: #909090;
}
footer .logo-cover{
    margin-top: 9px;
    margin-bottom: 92px;
}
.hidden{
    display: none;
}
.first-answer{
    margin-left: 80px;
    margin-top: 29.48px;
}
.first-answer-block{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 940px;
    height: 704px;
}
.first-answer-block .main-page__block.blue{

    width: 940px;
    height: 704px;
    margin-left: auto;
    margin-right: auto;
}
.first-answer-number{
    display: inline-block;
    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    line-height: 200px;

    letter-spacing: -10px;

    color: #0011A7;
}
.first-answer-number span{
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    font-weight: 300;
}
.first-answer-hits{
    display: inline-block;
    margin-left: 39px;
    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;

    color: #0011A7;
}
.first-answer-hits p{
    font-style: italic;
    font-family: 'IBM Plex Sans', serif;
}
.first-answer-text{
    margin-top: 70px;
    padding-left: 80px;
    width:700px;

    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;

    color: #0011A7;
}
.first-answer-text .underline{
    text-decoration: underline;
}
.first-answer-text .bold{
    font-weight: bold;
}
.blue-line{
    margin-top: 46px;
    border-top: 1px solid #0011A7;
}
.next-game-button-cover{
    position: relative;
    width: 290px;
    height: 60px;
    top:47px;

    margin-left: auto;
    margin-right: auto;
}
.next-game__button{
    width: 290px;
    height: 60px;
    background: #0011A7;
    border-radius: 20px; 
    border: none;
    
    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    color: white;
}
