.page-container{
    width: 1260px;
    margin: auto;
}
header{
    width: 100%;
}
.logo-cover{
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    height: 195px;
    width: 195px;
}
.header-logo__img{
    height: 195px;
    width: 195px;
}
.header-village__img{
    width: 100%;
    height: 100%;
}
.specproject-block{
    margin-top: 4px;
    margin-bottom: 25px;
    width: 115px;
    height: 21px;
    padding: 2px 9px;
    background-color: #F34910;
}
.specproject-label{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.specialproject-metainfo{
    display: flex;
    flex-direction: row;
    
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.metainfo-category{
    margin-right: 7.5px;
}

.metainfo-border{
    border-left: 1px solid #000000;
    margin-right: 5.5px;
}

.current-date{
    color: #9B9B9B;
    margin-right: 8.5px;
}

.metainfo-statistic{
    display: flex;
    flex-direction: row;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;

    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.35;
}
.views-amount-icon{
    content: url(/images/eye-icon.svg);
    padding-right: 5px;
}
.comments-amount-icon{
    content: url(/images/message-icon.svg);
    margin-left: 9px;
    padding-right: 5px;

}
main h1{
    margin-top: 32px;
    width: 940px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 65px;
    color: #000000;
}
main h2{
    margin-bottom: 64px;
    font-family: 'IBM Plex Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 65px;
    color: #000000;
}
.main-page__block{ 
    position: relative;

    border: 1px solid;
    border-top: 39px solid;
    box-sizing: border-box;
    border-radius: 20px;
}
.main-block{
    position: relative;
    height: 548px;
    background: url(/images/village-heat-cover.png) no-repeat;
    background-size: 100%;
    background-position: 0 -20px;
}
.blue{
    color:#0011A7;
}
.blue-background{
    background-color: #0011A7;
}
.purple{
    color: #4700A3;
}
.purple-background{
    background-color: #4700A3;
}
.green{
    color: #036D5A;
}
.green-background{
    background-color: #036D5A;
}
.red{
    color: #BF1B1B;
}
.red-background{
    background-color: #BF1B1B;
}
.light-green{
    color: #4E750F;
}
.light-green-background{
    background-color: #4E750F;
}
.beige{
    color:#CCAA8B;
}

.main-picture-frame{
    position: relative;
    top:-19px;
    height: 39px;
    box-sizing: border-box;
}
.frame-circle{
    position: relative;
    top:-25px;
    left:20px;

    border-radius: 25px;
    background-color: #FFFFFF;
    width: 11px;
    height: 11px;
}
.main-picture__img{
    width: 100%;
    border-radius: 0 0 20px 20px;
}
.star{
    position: absolute;
    width: 160px;
    height: 160px;
    top: 0;
    left: 0;
    z-index: 100;
    transform: rotate(-28.85deg);
}
.star__img{
    box-sizing: border-box;
}
.main-page__block .star:nth-child(2){
    top:190px;
    left:-97px;
}
.main-page__block .star:nth-child(3){
    top:398px;
    left:20px;
}
.main-page__block .star:nth-child(4){
    top:-77px;
    left:596px;
}
.main-page__block .star:nth-child(5){
    top:221px;
    left:1008px;
}
.main-page__block .star:nth-child(6){
    top:298px;
    left:1134px;
}
.main-text{
    margin-top: 88px;
    margin-bottom: 125px;
    height: 288px;
    width: 1020px;
    color: #000000;
    font-family: 'IBM Plex Serif', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
}
.first-challenge-block{
    
    position: absolute;

    margin-left: 80px;
    width: 620px;
    height: 400px;
}
.frame-name{
    position: relative;
    top:-38px;
    left:47px;

    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}
.block-heading{
    margin-left: 45px;
    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 26px;

}
.first-block-heading{
    margin-top: 46px;
}
.second-block-heading{
    margin-top: 25px;
}
.block-heading span{
    font-style: italic;
}
.block-heading::before{
    display: inline-block;
    vertical-align: top;
    margin-right: 21px;
}
.blue-heart::before{
    content: url(/images/header-hearts/heart-blue.svg);
}
.purple-heart::before{
    content: url(/images/header-hearts/heart-purple.svg);
}
.green-heart::before{
    content: url(/images/header-hearts/heart-green.svg);
}
.red-heart::before{
    content: url(/images/header-hearts/heart-red.svg);
}
.light-green-heart::before{
    content: url(/images/header-hearts/heart-brown-green.svg);
}
.first-block-text{
    margin-top: 40px;
    margin-left: 45px;
    width:380px;

    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
}
.game{
    position: relative;

    margin-left: 80px;
    top:85px;
    left:481px;
    height: 650px;
    width: 620px;
}
.first-game{
    background-color: #F0F4FE;
}
.second-game{
    background-color: #F5F1FF;
}
.third-game{
    position: relative;
    background-color: #F2FBF7;
}
.fourth-game{
    position: relative;
    background-color: #FFF1EE;
}
.fifth-game{
    position: relative;
    background-color: #F8FFF3;
}
.first-heart-game{
    width: 279px;
    height: 382px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.first-heart-game__img{
    width: 279px;
    height: 382px;
}
.game-button-cover{
    position: relative;
    width: 290px;
    height: 60px;
    top:68px;

    margin-left: auto;
    margin-right: auto;
}
.game__button{
    
    width: 290px;
    height: 60px;
    border-radius: 20px; 
    border: none;
    
    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    color: white;
}
.last-block{
    margin-left: auto;
    margin-right: auto;
    margin-top: 181px;
    width: 940px;
    height: 640px;

    background-color: #F4F1EB;
}
.last-block-heading{
    margin-top: 79px;
    margin-left: 80px;

    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 26px;
    color: #2D2621;
}
.last-block-text{
    
    width:700px;
    margin-top: 35px;
    margin-left: 80px;
    font-family: 'IBM Plex Sans', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    color: #2D2621;
}
.last-block-button-cover{
    width: 290px;
    height: 60px;
    margin-left: 80px;
    margin-top: 47px;

}
.last-block__button{
    width: 290px;
    height: 60px;
    background: #CCAA8B;
    border-radius: 20px; 
    border: none;
    
    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;
    color: white;
}
.page-tag{

    margin-left: 180px;
    margin-top: 10px;

    font-family: 'IBM Plex Sans', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;

    color: #CCAA8B;
}
.assistance-tag{
    width: 220px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.123077px;

    color: #909090;
}
footer .logo-cover{
    margin-top: 9px;
    margin-bottom: 92px;
}
.hidden{
    display: none;
}
.first-answer{
    margin-left: 80px;
    margin-top: 29.48px;
}
.answer-block{
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
.first-answer-block .main-page__block.blue{

    width: 940px;
    height: 704px;
    margin-left: auto;
    margin-right: auto;
}
.first-answer-number{
    display: inline-block;
    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    line-height: 200px;

    letter-spacing: -10px;

}
.first-answer-number span{
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    font-weight: 300;
}
.first-answer-hits{
    display: inline-block;
    margin-left: 39px;
    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;

}
.first-answer-hits p{
    font-style: italic;
    font-family: 'IBM Plex Sans', serif;
}
.first-answer-text{

    margin-top: 70px;
    padding-left: 80px;
    width:780px;
    height: 208px;

    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;

}
.first-answer-text .underline{
    text-decoration: underline;
}
.first-answer-text .bold{
    font-weight: bold;
}
.line{
    margin-top: 46px;
    border-top: 1px solid ;
}
.next-game-button-cover{
    position: relative;
    top:36px;
    width: 290px;
    height: 60px;

    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
.next-game__button{
    width: 290px;
    height: 60px;
    border-radius: 20px; 
    border: none;
    
    font-family: 'IBM Plex Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    color: white;
}
.dialog-block{
    position: absolute;
    left:415px;
    top:263px;
}
.dialog{
    width: 198px;
    height:71px;
    padding: 14px 17px 15px;
    font-family: 'IBM Plex Sans', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: white;
    border-radius: 20px;
}
.dialog-triangle{
    margin-left: 91px;
    width: 16px;
    height: 17px;

    clip-path: polygon(0% 0%, 100% 0%, 50% 70% );
}
.answer-block .first-heart-game{
    position: absolute;
    height: 279px;
    width:205px;
    left: 656px;
    top:38px;
    margin:0;
}
.answer-block .first-heart-game__img{
    height: 279px;
    width:205px;
}
.first-answer-block .first-heart-game__img{
    width: 205px;
    height: 279px;
    margin: 0;
}
.second-game-img-cover{
    margin-top: 112px;
    margin-left: 157px;
}
.heart-part{
    position: absolute;
    top:0px;
    left:0px;

    cursor: move;
}
.first-heart-part{
    top:301px;
    left:437px;

    z-index: 11;
}
.second-heart-part{
    top:69px;
    left:434px;
    
    z-index: 13;
}
.third-heart-part{
    top:415px;
    left:147px;

    z-index: 12;
}
.fourth-heart-part{
    top:309px;
    left:28px;
    
    z-index: 15;
}
.fifth-heart-part{
    top:47px;
    left:38px;
    
    z-index: 14;
}
.second-game .game-button-cover{
    top:127px;
}
.answer-block .first-answer{
    width:620px;

    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 40px;
}
.answer-block .first-answer span{
    font-style: italic;
}
.second-answer-row{
    display: flex;
    flex-direction: row;
}
.full-heart-img-cover{
    position: relative;
    margin-top:69px;
    margin-left:81px;
}
.second-answer-text{
    margin-top:90px;
    margin-left: 53px;
    width:380px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
}
#second-answer-block .next-game-button-cover{
    top:30px;
}
.pointer{
    position: absolute;
    top:0;
    left:0;
}
.pointer-text{
    position: absolute;
    top:0;
    left:0;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.first-pointer{
    top:101px;
    left:-38px;
}
.first-pointer-text{
    top:55px;
    left:-41px;
}
.second-pointer{
    top:116px;
    left:240px;

    transform: matrix(-1, 0.06, 0.06, 1, 0, 0);
}
.second-pointer-text{
    top:71px;
    left:270px;
}
.third-pointer{
    top:359px;
    left:21px;

    transform: rotate(-25.58deg);
}
.third-pointer-text{
    top:341px;
    left:-20px;
}
.fourth-pointer{
    top:301px;
    left:214px;

    transform: matrix(-0.9, -0.43, -0.43, 0.9, 0, 0);
}
.fourth-pointer-text{
    top:285px;
    left:286px;
}
.mechanism{
    position: absolute;
}
.first-mechanism{
    transition: width 2s;

    top:116px;
    left:55px;
}
.mechanism img:hover{
    height: 110%;
    width: 110%;

    cursor: pointer;
}
.second-mechanism{
    top:238px;
    left:177px;
}
.third-mechanism{
    top:5px;
    left:209px;
}
.third-game .game-button-cover{
    top:555px;
}
#third-answer-block{
    position: relative;
}
.third-answer-text{
    margin-top: 87px;
    margin-left: 81px;
    margin-bottom: 107px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
}
.tonometer__img{
    position: absolute;
    top: 35px;
    left: 403px;
    height: 511px;
    transform: rotate(-90deg);
}
#third-answer-block .next-game-button-cover{
    top:-30px;
    margin-top: 0;
}
#main-block-fourth-game .first-block-heading{
    margin-top: 86px;
}
.bottle-img-cover{
    position: absolute;
    top:68px;
    left:142px;
}
.bottle-button-cover{
    margin-bottom: 38px;
    margin-top: 335px;
}
.bottle__button{

    background: none;
    border: 1px solid #BF1B1B;
    color: #BF1B1B;
}
.bottles-block{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    margin-left: 74px;
    margin-top: 36px;
}
.small-bottle-cover{
    height: 192px;
    width: 167px;
}
.big-bottle-cover{
    margin-left: 49px;
    height: 192px;
    width: 167px;
}
.fourth-answer-stats img{
    height: 192px;
    width: 167px;
}
.big-number{
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 149px;
    line-height: 150px;
    letter-spacing: 4px;
}
.bottle-text{
    margin-left: 23px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
}
.italic-text{
    font-style: italic;
}
.fourth-answer-text{
    margin-top: 82px;
    margin-left: 82px;
    margin-bottom: 115px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
}
#fourth-answer-block .next-game-button-cover{
    margin-top: -66px;
}
.fifth-block-heading{
    margin-top: 78px;
}
.body-img-cover{
    position: relative;
    top:-26px;
}
.small-heart{
    position: absolute;
    margin-top: 60px;
    margin-left: 59px;
}
.small-heart:focus{
    cursor: none;
}
.small-heart:hover{
    cursor: move;
}

.body__img{
    margin-top: 50px;
    margin-left: 18px;
}